html, body {
    height: 100%;
    font-size: 12px;    
}

.avatar{
    background-color: red;
}

.avatar {
    /* width: 9%; */
    /* height: 16%; */
    border-radius: 50%;
    /* float: right; */
    /* margin-right: 8%; */
    margin-bottom: 0px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
  
}

.title {
    font-size: 50px;
}

.black{
    background-color: black;
}

.banner{
background-image: url('/img/banner2.jpg');
}

.banner2{
        /* The image used 
    background-image: url('experiencia.jpg');
    */
    background-color: rgb(5, 71, 107);
}

.banner3{
background-image: url('/img/banner4.png');
}

.blur { 
    /* Create the parallax scrolling effect */
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-footer{
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}

.center{
  text-align: center;
}

#home {
  background: url(https://acom.azurecomcdn.net/80C57D/cdn/cvt-09880ce522f374c8a45c40d13bb2fa19fcf9b2d7f43deb10b188d8a18a32115b/css/images/home-hero01.jpg) no-repeat center center fixed; 
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


img{
    height: 150px;
}

.logo{
    border-radius: 50%;
    height: 2em;
    padding-bottom: 0.1em;
}

.perfil{
    border-radius: 50%;
    height: 10em;
    
}

.row-padding{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titulos {
  font-family: 'Lato', serif;
}

.btn-up{
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
}

.white-letters{
    color: white;
}

a.navbar-brand {
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 10px;
    /* padding-bottom: 12px; */
}

a.navbar-brand.houston {
    line-height: 1.5em;
}