html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-family: 'Lato'!important;
}

.container {
    text-align: center;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

li {
    float: right;
    padding-right: 2em;
    padding-left: 1em;
    padding-top: 0.5em;
}

ul {
    background-color: #03A9F4;
    height: 40px;
    margin-top: 0px;
}

li {
    float: right;
    padding-right: 2em!important;
    padding-left: 1em!important;
    padding-top: 0.5em!important;
    list-style-type: none;
    /* color: green; */
}

a{
    color: white;
    text-decoration: none;
}

.center{
    text-align: center;
}

.blue{
    background-color: red;
}

img {
    width: 150px;
    height: 150px;
        border-radius: 50%;
}