html, body {
    height: 100%;
    font-size: 12px;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lato'!important;
}


img {
    width: 120px;
    height: 120px;
}


.title {
    font-size: 50px;
}

img{
    width: 150px;
    height: 150px;
}

.logo{
    border-radius: 50%;
}

.parallax3 { 
    /* The image used */
    background-image: url('espacio1.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white-letters{
    color: white;
}

.row-padding{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.avatar{
    background-color: red;
}

.avatar {
    /* width: 9%; */
    /* height: 16%; */
    border-radius: 50%;
    /* float: right; */
    /* margin-right: 8%; */
    margin-bottom: 0px;
}

#home {
  background: url(https://acom.azurecomcdn.net/80C57D/cdn/cvt-09880ce522f374c8a45c40d13bb2fa19fcf9b2d7f43deb10b188d8a18a32115b/css/images/home-hero01.jpg) no-repeat center center fixed; 
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
